.box
  %h1 Please register your pairing session
  .detail
    = form_for @session , html: {class: "madlib_form"} do |f|
      %p
        I paired with
        = f.select :pair_2_id, pairs_for_select
        on
        = f.text_field :start, class: "date-picker"
        for
        = f.text_field :duration
        hours.
      = f.submit "Register this pairing session"
