<!DOCTYPE html>
<html>
<head>
  <title>PairedWith.Us</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id='header'>
    <h1><%= link_to "Paired With Us", root_path %></h1>
    <ul class='actions'>
      <% if user_signed_in? %>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% end %>
    </ul>
    <% if user_signed_in? %>
      <section class='user-name'><%= current_user.email %></section>
    <% end %>
  </div>
  <div id='content'>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  <div id='sidebar'>
    <ul class='navigations'>
      <li><%= link_to "Register A Pairing Session", new_pairing_session_path %></li>
    </ul>
  </div>


</body>
</html>
