<!DOCTYPE html>
<html>
<head>
  <title>PairedWith.Us</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", :debug => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <h1><%= link_to "Paired With Us", root_path %></h1>
    <nav>
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </nav>
    <% if user_signed_in? %>
      <section class='user_info'>
        <%= current_user.email %>
      </section>
    <% end %>
  </header>
  <section id='content'>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </section>
  <aside>
  <nav>
    <ul>
      <li><%= link_to "Register A Pairing Session", new_pairing_session_path %></li>
    </ul>
  </nav>
  </section>


</body>
</html>
